@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----------------------------------*\
     VARIABLES
/*-----------------------------------*/
:root {
  --White: rgb(255, 255, 255);
  --Very-light-grayish-blue: rgb(247, 250, 253);
  --Light-grayish-blue-1: rgb(229, 239, 250);
  --Light-grayish-blue-2: rgb(221, 231, 238);
  --Grayish-blue: rgb(147, 157, 174);
  --Dark-grayish-blue: rgb(94, 103, 120);
  --Very-dark-blue: rgb(28, 32, 43);
}

/*-----------------------------------*\
     ATTRIBUTION
/*-----------------------------------*/
.attribution {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 5rem;
  line-height: 1.7;
  font-family: monospace;
  padding-inline: 2rem;
}

.attribution a {
  color: red;
}

html {
  background-color: var(--Light-grayish-blue);
}

body {
  max-width: 45.625rem;
  margin: 0 auto;
  background-color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
}

